---
faq:
  - question: What is Rust Examples?
    answer: Rust Examples is a website that collects useful pieces of code and advice around Rust programming. If you ever typed `<something_in_rust> example` into your browser and were annoyed by the number of irrelevant results, then this site is for you.
  - question: Why is there no example of (something)?
    answer: Because the site is not complete and possibly never will be. Rust is an ever-changing language and more features are added every day.
  - question: Can I add my example to the site?
    answer: In the future there will be some option for that.
---

<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>
